.Navbarcontainer{
    background: #FFFFFF;
box-shadow: 0px 4px 30px 3px rgba(0, 0, 0, 0.25);
}

.Navbarchild{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.Userimage{
width: 15%;
}


.Userdetails{
display: flex;
justify-content: space-between;
}

.logoimage{
    width: 10%;
}